/***********************
LAYOUT FOR ALL PAGES 
***********************/


html, body {
	margin:0 auto;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	height:100%;
}

#page-wrapper { /*for footer to remain at bottom*/
	min-height: 100%;
	position: relative;
}

ul {
	padding:0;
}

/*** Links ***/

a:link {
	color:#000000;
}

a:visited {
	color:#000000;
}

a:hover {
	color:#b0E7E5;
	text-shadow:0.5px 1px #000000;
}
p a:hover {
	color:#fceabf;
}



/*** Header Section ***/

header {
	position: fixed;
	width:100%;
	background-color:#B11200;
	text-align: center;
}

h1, h2 {
	color:#fceabf;
	margin:0;
}

h1 {
	font-variant: small-caps;
	font-size: 2em;
}

h2 {
	font-size:1em;
}

nav {
	background-color: #EF4036;
}

nav li {
	list-style: none;
	display:inline-block;
	font-family: 'Great Vibes', cursive;
	font-size: 1.5em;
	padding:5px 10px 5px 10px;
}

nav a:link {
	text-decoration: none;
}

a.pageHighlight {
	color:#B0E7E5;
}

li a:hover {
	color:#b0E7E5;
	text-shadow:0.5px 1px #000000;
}




/*** Content Section ***/
#content-wrapper {
	padding:130px 0 80px 0;
}



/*** Footer Section ***/

.greatVibes {
	font-family: 'Great Vibes', cursive;
	text-shadow:1px 1px #000000;
	color:#fceabf;
}

footer {
	position: absolute;
	bottom:0;
	height:80px;
	width: 100%;
	background-color: #cccccc;
	border-top: 1px solid #bbbbbb;
	clear: both;
}

footer li {
	display: inline-block;
	font-size: 25px;
}


/***********************
HOME PAGE 
***********************/

#profilePhoto {
	width:300px;
	height:300px;
	border-radius: 100%;
}

#selfPic {
	vertical-align: middle;
	min-width:300px;
	margin:20px auto;
}

#profile {
	vertical-align: middle;
	margin:20px;
}



/***********************
ABOUT PAGE 
***********************/

.aboutWrapper {
	list-style: none;
}

.about1 {
	background-color: #FCEABF;
	font-size: 1.3em;

}

.about2 {
	background-color: #F0565B;
	font-size: 1.7em;
}

.about3 {
	background-color: #73D4D1;
	font-size: 1.3em;
}

.about4 {
	background-color: #FCEABF;
	font-size: 1.7em;
	line-height: 175px;
}

.skillsList ul {
	padding: 0;
}

.skillsList li {
	list-style:none;
}

.about1 h1, .about4 h1 {  /* Change h1 color to red on all yellow background */
	color:#F0565B;
}

.about4 a:link, .about4 a:visited {  /* Link to resume */
	color: #F0565B;
}

/*positioning of ul */

.aboutWrapper>li {
	text-align: center;
	margin:0 auto;
	display: block;
	width:60%;
	height:200px;

}


/***********************
PROJECTS PAGE 
***********************/

.projects > div {
	width:60%;
	background-color: #73D4D1;
	display: inline-block;
	vertical-align: top;
	margin:10px auto;
	padding-bottom:10px;
}
.projects p, .projects a {
	padding:0;
	margin:0;
}

 .projects img {
 	width:100%;
 }

#instaTitle {
	font-family: 'Qwigley', cursive;
	font-size: 1em;
}

#movieTitle {
	font-family: 'Limelight', cursive;
	font-size: 1em;
}

#shoppingTitle {
	font-family: Impact, sans-serif;
}

.projects a:hover {
	color:#FCEABF;
}


/***********************
CONTACT PAGE 
***********************/

.contact-wrapper {
	padding:30px;
}

#contactWords {
	font-size: 1.5em;

}
span {
	font-family: 'Great Vibes', cursive;
	font-size: 1.5em;
}

